@model CreateUserViewModel?

@{
    ViewBag.Title = "Регистрация";
    Layout = null;
}


<div class="col-md-12">
    @using (Html.BeginForm("CreateUser", "Users", FormMethod.Post))
    {
        <div class="col-md-12">
            Юзернейм:
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Name)
        </div>

        <div class="col-md-12">
            Почта:
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Email)
        </div>

        <div class="col-md-12">
            Пароль:
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Password)
        </div>
        <div class="col-md-12">
            Повторите пароль: 
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Password)
        </div>
        <div class="col-md-12">
            <input type="submit" value="Submit"/>
        </div>
    }
</div>