@model UsersViewModel

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}

<div class="container">
    <div class="col-md-12">
        <h2>Users List</h2>
        <ul>
            @foreach (var user in Model.Users)
            {
                <li>@user.Name @user.Email @user.Password</li>
            }
        </ul>
    </div>
</div> 