@model CreateChatViewModel?

@{
    ViewBag.Title = "Добавление чата";
}

<div class="col-md-12">
    @using (Html.BeginForm("CreateChat", "Chats", FormMethod.Post))
    {
        <div class="col-md-12">
            С кем начать чат:
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.UserNameToAdd) 
        </div>
        <div class="col-md-12">
            Название Чата:
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.ChatName) 
        </div
        <div class="col-md-12">
            <input type="submit" value="Submit"/>
        </div>
    }
</div>