@model CreateChatViewModel?

@{
    ViewBag.Title = "Добавление чата";
    TempData["UserName"] = "UserName"; /*TODO Что делать со вторым юзером чата?*/
}


<div class="col-md-12">
    @using (Html.BeginForm("CreateChat", "Chats", FormMethod.Post))
    {
        <div class="col-md-12">
            С кем начать чат:
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Users)
        </div>

        <div class="col-md-12">
            Название группы:
        </div>
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.ChatName) 
        </div>
        <div class="col-md-12">
            <input type="submit" value="Submit"/>
        </div>
    }
</div>