@{
    ViewData["Title"] = "Добро пожаловать в мессенджер Scroll!";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Scroll</title>
    <style>
        h1 {
            font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
            font-size: 250%; /* Размер шрифта в процентах */
        }

        p {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 14pt; /* Размер шрифта в пунктах */
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 align="center" class="display-4">Добро пожаловать в мессенджер Scroll!</h1>
        <ul>
            <p align="center"><a href="/Users/CreateUser">Зарегестрироваться</a></p>
            <p align="center"><a href="/Authentication/Index">Войти</a></p>
            <p align="center"><a href="/Chats/Index">Посмотреть чаты</a></p>
        </ul>
    </div>
</body>
</html>